// 颜色定义规范
$color-background = #e6e6e6
$color-highlight-background = #ebebeb
$color-green-background = rgb(14, 154, 14)
$color-theme = #323232
$color-theme-w = #fff
$color-text = #8a8a8a
$color-text-l = #333
$color-text-w = #fff
$color-title-text= #e6e6e6
$color-line = #ddd
$color-green = #1afa29
$color-green-l = rgb(14, 154, 14)

// 字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
